/* Control Center Animation */
li>.menu__container {
    display: flex !important;
    /* Force flex but hide with opacity */
    opacity: 0;
    visibility: hidden;
    transform: translateX(50%) translateY(-10px);
    /* Slide down slightly */
    transition: all 0.2s ease-out;
}

li:hover>.menu__container {
    opacity: 1;
    visibility: visible;
    transform: translateX(50%) translateY(0);
}