/* Launchpad Animation */
.launchpad {
    display: block !important;
    /* Override inline styles if any, manage visibility with opacity */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
}

.launchpad.active {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
}